.category-nav {
  background: #f0f4fe;
  width: 270px;
  padding: 5px;
  margin: 0;
  padding: 15px;
  list-style-type: none;
}

.category-nav ul {
  list-style-type: none;
}

.category-nav li {
  font-size: 18px;
  line-height: 2.25;
  margin: 0;
  padding: 0;
}

.category-nav img {
  vertical-align: text-top;
  width: 9%;
  padding-right: 2%;
}

.expand {
  width: 270px;
  display: inline-block;
}

.expand::after {
  content: url("../images/arrow.png");
  width: 6px;
  float: right;
}

.menu-container {
  float: right;
  width: 255px;
  transform: translateY(-15px);
}

.menu-container-inner {
  display: inline-flex;
  background: white;
  padding: 15px;
}

.menu-cell {
  width: 350px;
}

.menu-cell ul {
  margin: 0;
  padding: 0;
}

.menu-subtitle {
  font-style: italic;
  font-weight: bold;
}

.menu-level-1 {
  width: 200%;
}

.menu-level-2 {
  display: none;
}

.menu-level-1:hover .menu-level-2 {
  display: inline-block;
}
