.category-nav {
  background: #f0f4fe;
  position: relative;
  width: 270px;
  padding: 5px;
  margin: 0;
  padding: 15px;
  list-style-type: none;
}

.category-nav ul {
  list-style-type: none;
}

.category-nav li {
  font-size: 18px;
  margin: 0;
  padding: 10px 15px;
}

.category-nav img {
  vertical-align: text-top;
  width: 9%;
  padding-right: 2%;
}

.expand {
  width: 285px;
  display: inline-block;
  position: relative;
}

.expand::after {
  content: url("../images/arrow.png");
  width: 6px;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.menu-container {
  position: absolute;
  top: 0px;
  width: 255px;
}

.menu-container-bottom {
  position: absolute;
  bottom: 0px;
  width: 255px;
}

.menu-container-inner {
  display: inline-grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: max-content max-content;
  grid-auto-flow: column;
  background: white;
  padding: 15px;
}

.menu-container-inner-small {
  display: inline-grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: max-content;
  grid-auto-flow: column;
  background: white;
  padding: 15px;
}

.menu-cell {
  width: 300px;
}

.menu-cell ul {
  margin: 0;
  padding: 0;
}

.menu-subtitle {
  font-style: italic;
  font-weight: bold;
  padding: 10px 15px;
}

.menu-level-1 {
  width: 200%;
}

.menu-level-2 {
  display: none;
}

div:hover + div.menu-level-2,
div.menu-level-2:hover {
  display: inline-block;
}

.menu-highlight {
  background: #ecf1fe;
}
